### VS Code ###
.vscode

# Byte-compiled / optimized / DLL files
__pycache__

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Test cache & coverage tools ###
.coverage
.pytest_cache

### Development directories ###
dev/
.aider*
.env
.env
