mmcif==0.80.1
Flask==2.2.*
orjson==3.8.*
barnaba==0.1.9
gunicorn==20.1.*
rnapolis==0.0.13
weblogo==3.7.*
lxml==4.9.*
svg-stack==0.1.0
dataclasses-json==0.5.*
mmcif-pdbx==2.0.1
Flask-Caching==2.0.* 
git+https://github.com/BGSU-RNA/fr3d-python@3c6fbedc5b106e13e8452de5a226742993786bd5
