Flask-Caching==2.3.*
Flask==3.1.*
barnaba==0.1.9
dataclasses-json==0.6.*
graphviz==0.21
gunicorn==23.0.*
lxml==6.0.*
mmcif-pdbx==2.0.1
mmcif==0.92.0
orjson==3.10.*
pandas==2.3.0
rnapolis==0.9.2
svg-stack==0.1.0
weblogo==3.7.*
